@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }

  .flex-start {
    @apply flex items-start justify-start;
  }

  .flex-end {
    @apply flex items-end justify-end;
  }

  .flex-column {
    @apply flex-col items-center justify-center;
  }

  .h1-bold {
    @apply text-[30px] font-bold leading-[42px] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[30px] font-semibold leading-[42px] tracking-tighter;
  }

  .h2-bold {
    @apply text-[24px] font-bold leading-[31.2px];
  }

  .h2-semibold {
    @apply text-[24px] font-semibold leading-[31.2px];
  }

  .h3-bold {
    @apply text-[20px] font-bold leading-[26px];
  }

  .h3-semibold {
    @apply text-[20px] font-semibold leading-[24.8px];
  }

  .h3-medium {
    @apply text-[20px] font-medium leading-[24.8px];
  }

  .base-medium {
    @apply text-[18px] font-medium leading-[25.2px];
  }

  .base-semibold {
    @apply text-[18px] font-semibold leading-[25.2px];
  }

  .base-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .paragraph-regular {
    @apply text-[16px] font-normal leading-[22.4px];
  }

  .paragraph-medium {
    @apply text-[16px] font-medium leading-[22.4px];
  }

  .paragraph-semibold {
    @apply text-[16px] font-semibold leading-[20.8px];
  }

  .paragraph-bold {
    @apply text-[16px] font-bold leading-[20.8px];
  }

  .body-regular {
    @apply text-[14px] font-normal leading-[19.6px];
  }

  .body-medium {
    @apply text-[14px] font-medium leading-[18.2px];
  }

  .body-semibold {
    @apply text-[14px] font-semibold leading-[18.2px];
  }

  .body-bold {
    @apply text-[14px] font-bold leading-[18.2px];
  }

  .small-regular {
    @apply text-[12px] font-normal leading-[15.6px];
  }

  .small-medium {
    @apply text-[12px] font-medium leading-[15.6px];
  }

  .small-semibold {
    @apply text-[12px] font-semibold leading-[15.6px];
  }

  .small-bold {
    @apply text-[12px] font-bold leading-[15.6px];
  }

  .extra-small-regular {
    @apply text-[10px] font-normal leading-[13px];
  }

  .extra-small-medium {
    @apply text-[10px] font-medium leading-[13px];
  }

  .extra-small-semibold {
    @apply text-[10px] font-semibold leading-[13px];
  }

  .vx-small {
    @apply text-[9px] font-normal leading-[12px];
  }

  .vx-small-medium {
    @apply text-[9px] font-medium leading-[12px];
  }

  .vx-small-semibold {
    @apply text-[9px] font-semibold leading-[12px];
  }

  .vx-extra-small {
    @apply text-[8px] font-normal leading-[11px];
  }

  .vx-extra-small-medium {
    @apply text-[7px] font-medium leading-[11px];
  }

  .add-property-button {
    @apply text-nowrap rounded-[8px] bg-black px-[18px] py-[10px] small-medium
     text-white transition-colors duration-200 hover:border hover:border-black hover:bg-white
      hover:text-black focus-visible:outline-none focus-visible:ring-2 
      focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50
      sm:px-[14px] sm:py-2 sm:extra-small-medium md:px-3 md:py-[8px] lg:px-5 lg:py-[12px]
      md:small-medium w-28 lg:body-medium sm:w-24 md:w-28 lg:w-32;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #616161;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }
}
